extends layout

block content

    .col-lg-10.col-lg-offset-1.col-md-offset-1.col-md-10.col-sm-offset-2.col-sm-9
     .tabbable-line
         ul.nav.nav-tabs.panel-shadow
           li.active
             a(href='#header', role='tab', data-toggle='tab')
              strong Cabeçalho
           li
             a(href='#users', role='tab', data-toggle='tab')
              strong Utilizadores
           li
             a(href='#subscription', role='tab', data-toggle='tab')
              strong Subscrição
           li
             a(href='#reports', role='tab', data-toggle='tab')
              strong Relatórios
         .tab-content.panel-shadow
           .tab-pane.active(id='header')
                 h4 NOME: #{client.name}
                 h4 NIF: #{client.clientvat}
                 h4 CAE: #{client.cae}
                 h4 SEDE: #{client.address}
                 h4 TELEFONE: #{client.telephone}
                 h4 E-MAIL: #{client.email}
           .tab-pane(id='users')
                 h4 Utilizadores Associados:
           .tab-pane(id='subscription')
                 h4 TIPO: #{client.subscription}
           .tab-pane(id='reports')
             .row
                .col-lg-2
                 table.table.table-striped.table-hover
                   thead
                     tr
                       th Relatório
                   tbody
                   -for (var i = 0; i < client.reports.length; i++){
                         tr
                            td 
                              a(href="/report/detail/#{client.reports[i].reportid}")= client.reports[i].vat
                   -}        
                .col-lg-2
                  form(action="report/add", method='POST')
                      h4.control-label(for='inputVat') NIF:
                        input#clientid.form-control(name="clientid" value="#{client._id}" rows='5' readonly).hidden
                        input#inputvat.form-control(type='number', name='vat', min='100000000', max='999999999' class='form-control', placeholder='NIF',required)
                        input#inputreportid.form-control(type='text', name='reportid', class='form-control', placeholder='Report ID',required)
                       button.btn.btn-primary(type='submit') Adicionar