extends layout

block content

 .container.col-lg-8
    .row-lg-8
      .col-lg-8.col-md-6.col-xs-12
       .tabbable-line
         ul.nav.nav-tabs
           li.active
             a(href='#header', role='tab', data-toggle='tab') Cabeçalho
           li
             a(href='#users', role='tab', data-toggle='tab') Utilizadores
           li
             a(href='#subscription', role='tab', data-toggle='tab') Subscrição
           li
             a(href='#reports', role='tab', data-toggle='tab') Relatórios
   
 .container.col-lg-8
    .row-lg-8
      .col-lg-8.col-md-6.col-xs-12
         .tab-content
           .tab-pane.active(id='header')
             .row-lg-12
               .col-lg-12
                 br
                 h4 NOME: #{client.name}
                 h4 NIF: #{client.clientvat}
                 h4 CAE: #{client.cae}
                 h4 SEDE: #{client.address}
                 h4 TELEFONE: #{client.telephone}
                 h4 E-MAIL: #{client.email}
           .tab-pane(id='users')
             .row-lg-12
               .col-lg-4
                 br
                 h4 Utilizadores Associados:
           .tab-pane(id='subscription')
             .row-lg-12
               .col-lg-4
                 br
                 h4 TIPO: #{client.subscription}
         
           .tab-pane(id='reports')
             .row-lg-12
               .col-lg-6
                 table.table.table-striped.table-hover
                   thead
                     tr
                       th Relatório
                   tbody
                   -for (var i = 0; i < client.reports.length; i++){
                         tr
                            td 
                              a(href="/report/detail/#{client.reports[i].reportid}")= client.reports[i].vat
                   -}        
               .col-lg-6
                 form(action="report/add", method='POST')
                  .row
                    .col-lg-12
                      h4.control-label(for='inputVat') NIF:
                        input#clientid.form-control(name="clientid" value="#{client._id}" rows='5' readonly).hidden
                        input#inputvat.form-control(type='number', name='vat', min='100000000', max='999999999' class='form-control', placeholder='NIF',required)
                        input#inputreportid.form-control(type='text', name='reportid', class='form-control', placeholder='Report ID',required)
                       button.btn.btn-primary(type='submit') Adicionar