doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    link(rel='stylesheet', href='/bootstrap/css/flatly.min.css')
    link(rel='stylesheet', href='/bootstrap/css/sidebar.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
   .container-fluid
       .col-lg-1.col-md-1.col-xs-12
         img(src='/images/logo.png')  
   .container-fluid      
       nav.navbar.navbar-default.sidebar(role='navigation')
        
          .navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-sidebar-navbar-collapse-1')
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
          #bs-sidebar-navbar-collapse-1.collapse.navbar-collapse
            ul.nav.navbar-nav
              li(class=path=='/dashboard'?'active':undefined)
                a(href='/dashboard')
                  | aHoreca
                  span.pull-right.hidden-xs.showopacity.glyphicon.glyphicon-home(style='font-size:16px;')
              li(class=path=='/profile'?'active':undefined)
                a(href='/profile')
                  | Perfil
                  span.pull-right.hidden-xs.showopacity.glyphicon.glyphicon-user(style='font-size:16px;')  
              li(class=path=='/client'?'active':undefined)
                a(href='/client')
                  | Clientes
                  span.pull-right.hidden-xs.showopacity.glyphicon.glyphicon-user(style='font-size:16px;')                
              li(class=path=='/report'?'active':undefined).dropdown
                a.dropdown-toggle(href='/report', data-toggle='dropdown')
                  | Relatórios
                  span.pull-right.hidden-xs.showopacity.glyphicon.glyphicon-menu-down(style='font-size:16px;')                
                ul.dropdown-menu.forAnimate(role='menu')
                  li
                    a(href="/report") Lista
                  li
                    a(href='/report/new') Novo
              li(class=path=='/user'?'active':undefined).dropdown
                a.dropdown-toggle(href='/user', data-toggle='dropdown')
                  | Utilizadores
                  span.pull-right.hidden-xs.showopacity.glyphicon.glyphicon-menu-down(style='font-size:16px;')
                ul.dropdown-menu.forAnimate(role='menu')
                  li
                    a(href="/user") Lista
                  li
                    a(href='/user/new') Novo                         
              li(class=path=='/about'?'active':undefined)
                a(href='/about')
                  | Sobre
                  span.pull-right.hidden-xs.showopacity.glyphicon.glyphicon-info-sign(style='font-size:16px;')
              li
                a(href='/signout')
                  | Sair
                  span.pull-right.hidden-xs.showopacity.glyphicon.glyphicon-off(style='font-size:16px;')

         

       block content
  footer
     .container  
       .row
          .col-xs-12
             small &copy; João Fernandes 2017



script(src='/javascripts/jquery-3.1.1.min.js')
script(src='/bootstrap/js/bootstrap.min.js')