include _includes/sharedHTMLfunctions

extends layout

block content

  .col-lg-10.col-lg-offset-1.col-md-offset-1.col-md-10.col-sm-offset-2.col-sm-9
      .tabbable-line
         ul.nav.nav-tabs.panel-shadow
           li.active
             a(href='#header', role='tab', data-toggle='tab')
              strong Cabeçalho
           li
             a(href='#comments', role='tab', data-toggle='tab')
              strong Comentários
           li
             a(href='#events', role='tab', data-toggle='tab')
              strong Eventos
         .tab-content.panel-shadow
           .tab-pane.active(id='header')
                 h4 NOME: #{lead.name}
                 h4 NIF: #{lead.leadvat}
                 h4 CAE: #{lead.cae}
                 h4 SEDE: #{lead.address}
                 h4 TELEFONE: #{lead.telephone}
                 h4 E-MAIL: #{lead.email}
           .tab-pane(id='comments')
                 button.btn.btn-primary.btn-md(data-toggle='modal', data-target='#myModal') Novo
                 #myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
                  .modal-dialog
                    .modal-content
                      .modal-header
                        button.close(type='button', data-dismiss='modal')
                         span(aria-hidden='true') ×
                         span.sr-only Close
                        h4#myModalLabel.modal-title Novo Comentário
                      .modal-body
                        form.form-horizontal(action="", method="post", role="form")
                         fieldset
                           .form-group                           
                              .col-lg-6.hidden
                                p Utilizador:
                                input#author.form-control(name="author" value="#{user.username}" rows='5' readonly) 
                                
                           .form-group
                              .col-lg-12
                                p Comentário:
                                textarea#text.form-control(name="text" rows='5')
                           .form-group
                              .col-lg-12
                                button.btn.btn-default(type='reset') Apagar
                                button.btn.btn-primary.pull-right(type='submit') Guardar
           
                 table.table.table-striped.table-hover.table-break
                   thead
                     tr
                       th Últimos comentários
                       th Data
                       th Autor
                   tbody
                   -for (var i = 0; i < lead.comments.length; i++){
                         .container
                           .row
                             .col-sm-12
                               h3=lead.comments[i].author
                               .row
                                 .col-sm-1
                                   .thumbnail
                                     img.img-responsive.user-photo(src='https://ssl.gstatic.com/accounts/ui/avatar_2x.png')
                                 .col-sm-5
                                   .panel.panel-default
                                     .panel-heading
                                       strong=lead.comments[i].author  
                                       span.pull-right.text-muted.text-right
                                         +formatDate(lead.comments[i].createdOn)
                                     .panel-body
                                       p=lead.comments[i].text
                   -}
           .tab-pane(id='events')
                 h4 TIPO:
         
               