include _includes/sharedHTMLfunctions

extends layout

block content

 .container.col-lg-8
   h1= lead.name

 .container.col-lg-8
    .row-lg-8
      .col-lg-8.col-md-6.col-xs-12
         ul.nav.nav-tabs
           li.active
             a(href='#header', role='tab', data-toggle='tab') Cabeçalho
           li
             a(href='#comments', role='tab', data-toggle='tab') Comentários
           li
             a(href='#events', role='tab', data-toggle='tab') Eventos
   
 .container.col-lg-10
    .row-lg-10
      .col-lg-10.col-md-10.col-xs-12
         .tab-content
           .tab-pane.active(id='header')
             .row-lg-12
               .col-lg-12
                 br
                 h4 NOME: #{lead.name}
                 h4 NIF: #{lead.leadvat}
                 h4 CAE: #{lead.cae}
                 h4 SEDE: #{lead.address}
                 h4 TELEFONE: #{lead.telephone}
                 h4 E-MAIL: #{lead.email}
           .tab-pane(id='comments')
             .row-lg-12
               .col-lg-12
                 br
                 button.btn.btn-primary.btn-md(data-toggle='modal', data-target='#myModal') Novo
                 #myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
                  .modal-dialog
                    .modal-content
                      .modal-header
                        button.close(type='button', data-dismiss='modal')
                         span(aria-hidden='true') ×
                         span.sr-only Close
                        h4#myModalLabel.modal-title Novo Comentário
                      .modal-body
                        form.form-horizontal(action="", method="post", role="form")
                         fieldset
                           .form-group
                             label.col-lg-6.control-label(for="author")
                              .col-lg-12
                                input#author.form-control(name="author" value="#{user.username}" rows='5' readonly) 
                           .form-group
                             label.col-lg-12.control-label(for="text")
                              .col-lg-12
                                textarea#text.form-control(name="text" rows='5')
                           .form-group
                              .col-lg-12
                                button.btn.btn-default(type='reset') Cancelar
                                button.btn.btn-primary.pull-right(type='submit') Guardar
                      

             .row-lg-12
               .col-lg-12
                 table.table.table-striped.table-hover.table-break
                   thead
                     tr
                       th Últimos comentários
                       th Data
                       th Autor
                   tbody
                   -for (var i = 0; i < lead.comments.length; i++){
                         tr
                            td.col-lg-6=lead.comments[i].text
                            td.col-lg-3
                             +formatDate(lead.comments[i].createdOn)
                            td.col-lg-3=lead.comments[i].author
                   -}
           .tab-pane(id='events')
             .row-lg-12
               .col-lg-12
                 br
                 h4 TIPO:
         
               